@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    --background: #D5E1EF;
    --font-size: 15px;
}

body {
    background-color: var(--background);
    font-size: var(--font-size);
    font-family: 'Outfit';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.card {
    background-color: var(--White);
    height: 498px;
    width: 320px;
    border-radius: 20px;
    text-align: center;
    display: grid;
}

.img {
    margin-top: 17px;
    margin-left: 16px;
    width: calc(100% - 32px);
    height: 288px;
    border-radius: 10px;
}

img {
    height: 288px;
    border-radius: 10px;
}

.title {
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: -16px;
    font-size: 20px;
    letter-spacing: 1.1px;
    line-height: 28px
}

.desc {
    margin-top: -25px;
    margin-left: 27px;
    margin-right: 27px;
    letter-spacing: 0.15px;
}